
@{
    Layout = null;
}
@model PROG123.Models.PersonModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <h2>Hi from Page2</h2>
    <br />
    @Model.FName
    <br />
    @Model.LName
    <br />
    @Model.Email
    <br />
    @Model.Phone
    <br />
    @Model.Address
    <br />
    @Model.UserName
    <br />
    @Model.Password
    <br />
</body>
</html>
